.dashboard {
    height: 100vh;
    width: 100%;
}

.dashboard-body {
    display: flex;
    flex-direction: row;
    height: 91.8vh;
}
.dashboard-body .collapseIcon{
    width: 50px;
    height:50px;
    font-size: 30px;
    padding: 5px;
}
.dashboard-body .collapseIcon:hover{
    transition: 0.5s;
    rotate: turn
}


